# BACKEND

# Binaries for programs and plugins
/backend/*.exe
/backend/*.exe~
/backend/*.dll
/backend/*.so
/backend/*.dylib

# Test binary, built with `go test -c`
/backend/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/backend/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Environment variables
/backend/.env

# FRONTEND

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# local env files
/frontend/.env*.local

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
